body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 75px;
    height: 75px;
}

.logo2{
    width: 75px;
    height: 75px;
    visibility: hidden;
}

.overtext {
    align-items: center;
}

.h11{
    text-align: center;
    margin-top: 50px;
}
.h22{
    text-align: center;
}

section {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: #ff8c00;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li:hover{
    background-color:   #e0e0e0;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
} 